<div class="user_show">
  <h1>[<%= @user.name %>さんのページ]</h1>

  <div class="user_info">
    <% if @user.image? %>
      <%= image_tag @user.image.thumb.url %>
    <% else %>
      <%= image_tag "/assets/noimage.png", :size => '100x100' %>
    <% end %><br>

  <h5><%= @user.email %></h5>
    <% if @user.id == @current_user.id %>
      <%= link_to("アカウント編集", "/users/#{@user.id}/edit") %>
      <%= link_to("アカウント消去", "/users/#{@user.id}/destroy", {method: "post"}) %><br>
    <% end %>
  </div>

  <div class="user_posts_container">
    <% @user.posts.each do |post| %>
      <div class="post-info">
        タイトル：<%= link_to(post.title,  "/posts/#{post.id}") %><br>
        投稿日時：<%= post.updated_at %><br>
        <div class="post_index_content">
          <h2>[感想・要約]</h2><br>
          <%= post.content %><br>
        </div>
      </div>
      <div class="post_img">
        <%= image_tag post.image.to_s %><br>
      </div>
    <% end %>
  </div>

</div>
