<div class="post-index">
  <h1>新規投稿</h1>
    <% @post.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
    <% end %>

<div class="post-new-container">
  <%= form_for @post do |f| %>

  <div class="posts-new-item">
    <%= f.label :title, "タイトル(※必須)", class: "form" %><br>
    <%= f.text_field :title %><br>

    <%= f.label :content, "感想・まとめ(※必須)", class: "form" %><br>
    <%= f.text_area :content %><br>

    <%= f.label :image, "画像", class: "form" %><br>
    <%= f.file_field :image %><br>

    <%= f.submit "投稿する", class: "form" %>
  </div>

  <% end %>
</div>
</div>
